{% extends "layout.html" %}

{% block heading %}
Overview
{% endblock %}

{% block content %}
<div class="card-deck">
  <div class="card">
    <h5 class="card-header">Lights
      <button class="btn btn-outline-secondary btn-sm float-right" id="all-off" style="margin-left:5px;">All off</button>
      <button class="btn btn-outline-secondary btn-sm float-right" id="all-on" style="margin-right:5px;">All on</button></h5>
    <div class="card-body">
      <p>
        There are {{ lights | length }} lights, of which {{ lights | counton }} are on.
      </p>
      <table class="table">
        <tbody>
          {% for light in lights %}
            <tr>
              <td class="clickable-link" data-href="{{ url_for('edit_light', light_id=light.id) }}">
                {{ light.name }}
              </td>
              <td class="light-toggle" data-changeto="{{ "off" if light.latest_state().state else "on" }}" data-light_id="{{ light.id }}" style="text-align:center;">
                <i class="fas-large fas {{ "fa-toggle-on" if light.latest_state().state else "fa-toggle-off" }}"></i>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="card-text"><small class="text-muted">Tap on a light name to edit the light and on the switch to toggle it.</small></p>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Flashing LEDs</h5>
    <div class="card-body">
      <p class="card-text">
        This function enables the flashing of the LEDs on the light switches as a deterrant to home invaders.
      </p>
      <button class="btn btn-outline-primary float-right" id="LEDs-on" style="margin-left:5px;">Enable</button>
      <button class="btn btn-outline-primary float-right" id="LEDs-off" style="margin-right:5px;">Disable</button>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Schedules
      {% if schedules != [] %}
      <button class="btn btn-outline-secondary btn-sm float-right" id="new-schedule" style="margin-right:5px;">New</button>
      {% endif %}
    </h5>
    <div class="card-body">
      {% if schedules != [] %}
        <table class="table">
          <tbody>
            {% for schedule in schedules %}
              <tr>
                <td class="clickable-link" data-href="{{ url_for('edit_schedule', schedule_id=schedule.id) }}">
                  {{ schedule.name }}
                </td>
                <td class="light-toggle" data-changeto="{{ "off" if schedule.enabled else "on" }}" data-schedule_id="{{ schedule.id }}" style="text-align:center;">
                  <i class="fas-large fas {{ "fa-toggle-on" if schedule.enabled else "fa-toggle-off" }}"></i>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class="card-text"><small class="text-muted">Tap on a schedule to edit or enable/disable it.</small></p>
      {% else %}
        <p class="card-text">
          Add scheduled light timings.
        </p>
        <button class="btn btn-outline-primary btn-block" id="new-schedule" style="margin-right:5px;">New</button>
      {% endif %}

    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Debug Data</h5>
    <div class="card-body">
      <p class="card-text">
        {{ data }}
      </p>
      <p class="card-text">
        Last updated {{ last_modified | strftime }}
      </p>
      <p class="card-text"><small class="text-muted">Latest raw dump of received data.</small></p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".light-toggle").click(function(event) {
        event.stopPropagation();
        $.post("{{ url_for('commands') }}", { light_id: $(this).data("light_id"), state: $(this).data("changeto")}, function() {
          location.reload(true);
        });
      });
      $("#all-on").click(function(event) {
        event.stopPropagation();
        $.post("{{ url_for('allchange') }}", { state: "on" }, function () {
          location.reload(true);
        });
      });
      $("#all-off").click(function(event) {
        event.stopPropagation();
        $.post("{{ url_for('allchange') }}", { state: "off" }, function () {
          location.reload(true);
        });
      });
      $("#LEDs-on").click(function(event) {
        event.stopPropagation();
        $.post("{{ url_for('messages') }}", { message: "LED_FLASH_ON" }, function () {
          location.reload(true);
        });
      });
      $("#LEDs-off").click(function(event) {
        event.stopPropagation();
        $.post("{{ url_for('messages') }}", { message: "LED_FLASH_OFF" }, function () {
          location.reload(true);
        });
      });
      $("#new-schedule").click(function(event) {
        event.stopPropagation();
        $.post("{{ url_for('new_schedule') }}", {}, function (data) {
          document.location = "/edit/schedule/" + data;
        });
      });
  });
</script>
{% endblock %}
