{% extends "layout.html" %}

{% block heading %}
Overview
{% endblock %}

{% block content %}
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lights</h5>
      <table class="table">
        <tbody>
          {% for light in lights %}
            <tr>
              <td class="clickable-link" data-href="{{ url_for('edit_light', light_id=light.id) }}">
                {{ light.name }}
              </td>
              <td class="light-toggle" data-href="{{ url_for('get_updates') }}" data-changeto="{{ "off" if light.latest_state().state else "on" }}" data-light_id="{{ light.id }}">
                <i class="fas-large fas {{ "fa-toggle-on" if light.latest_state().state else "fa-toggle-off" }}"></i>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="card-text"><small class="text-muted">Tap on a light name to edit the light and on the switch to toggle it.</small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5>Lastest Data</h5>
      <p class="card-text">
        {{ data }}
      </p>
      <p class="card-text">
        Last updated {{ last_modified | strftime }}
      </p>
      <p class="card-text"><small class="text-muted">Latest raw dump of received data.</small></p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".light-toggle").click(function(event) {
        event.stopPropagation();
        $.post("{{ url_for('get_updates') }}", { light_id: $(this).data("light_id"), state: $(this).data("changeto")}, function() {
          location.reload(true);
        });
      });
  });
</script>
{% endblock %}
